.header {
  position: sticky;
  top: 6.5em;

  margin: 2em 0;
  padding: 1em 0;
  padding-bottom: 2em;

  z-index: 5;

  background: linear-gradient(black 60%, transparent);
}

.header p {
  color: var(--txt-col-subtle);
  margin: 0.25em 0;
}

.header h1,
.header h2,
.header h3 {
  color: var(--txt-col);
  margin: 0.5em 0;
}

.header a {
  color: var(--txt-col-subtle);
}

.header a:hover {
  color: var(--txt-col);
}
