.link {
  color: var(--txt-col-subtle);
}

.link--active {
  color: var(--txt-col);
}

.link:hover {
  color: var(--txt-col);
}

.link--loading,
.link--loading:hover {
  color: var(--txt-col-subtler);
}
