.album {
  appearance: none;

  display: flex;
  flex-direction: column;

  min-height: 3em;

  padding: 0.5em;

  border-radius: 0.15em;
  border: 1px solid transparent;
}

.album:focus-visible {
  outline: 0;
  background-color: var(--overlay);
  border-color: var(--txt-col);
}

.album:hover .info__title,
.album:focus-visible .info__title {
  text-decoration: underline;
}

.info:focus-visible {
  outline: 0;
}

.info__coverImage {
  border-radius: 0.15em;
}

.info__title {
  padding: 0.25em 0;
  color: var(--txt-col) !important;
}

.info__numSongs {
  text-align: right;
}

.songs {
  margin: 0.5em 1em;
}
