.markdown {
  text-align: justify;
  line-height: 1.5;
}

.markdown pre {
  margin: 2em 0;
}

.markdown img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  max-width: 32em;
  margin: 1em 0;
}

.markdown a {
  color: var(--link-col) !important;
}

.markdown a:hover {
  text-decoration: underline;
}

.snippet {
  white-space: nowrap;
  padding: 0.25em;
  border-radius: 0.2em;
  background-color: var(--overlay);
}
