.markdown {
  text-align: justify;
  line-height: 1.5;
}

.markdown pre {
  margin: 2em 0;
}

.markdown a {
  color: var(--link-col) !important;
}

.markdown a:hover {
  text-decoration: underline;
}

.snippet {
  white-space: nowrap;
  padding: 0.25em;
  border-radius: 0.2em;
  background-color: var(--overlay);
}
