.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 2.5em;
}

.image {
  display: grid;
  place-content: center;
}

.songs {
  margin-top: 2em;
  padding-left: 0.75em;
}

@media screen and (max-width: 35rem) {
  .container {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}
