.container {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;

  border-radius: 1em;
  padding: 0.25em 0.35em;

  position: fixed;
  top: 1em;
  right: 1em;
  width: 3.25em;

  z-index: 100;
}

.container:hover {
  width: auto;
  background-color: var(--overlay);
}

.container .reset {
  visibility: hidden;
  transition: visibility 0ms;
}

.container:hover .reset {
  visibility: visible;
}

.reset,
.toggle {
  appearance: none;

  background-color: transparent;
  border: 0;

  outline: 0;

  padding: 0.25em 0.75em;

  cursor: pointer;

  border-radius: 1.5em;

  color: var(--txt-col-subtle);
}

.reset:hover,
.toggle:hover {
  color: var(--txt-col);
}

.reset:focus-visible,
.toggle:focus-visible {
  box-shadow: 0 0 0 2px var(--txt-col-subtle);
  color: var(--txt-col);
}
