.toggle {
  appearance: none;
  display: grid;
  place-content: center;
  position: fixed;
  top: 0.75em;
  right: 0.75em;
  border: 0;
  outline: 0;
  padding: 0.5em;
  border-radius: 1.5em;

  background-color: transparent;
  color: var(--txt-col-subtle);
  z-index: 1000;

  opacity: 0.5;
}

.toggle:hover {
  color: var(--txt-col);
  cursor: pointer;
  opacity: 1;
}

.toggle:focus-visible {
  box-shadow: 0 0 0 1px var(--txt-col-subtle);
  color: var(--txt-col);
  opacity: 1;
}

.toggle:hover .toggle__text {
  margin-right: 1ch;
}
