.main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;

  color: var(--txt-col);

  background-color: var(--bg-col);
}

.main__content {
  min-width: 30em;
  max-height: 60vh;
  color: var(--txt-col-subtle);
}

@media screen and (max-width: 40rem) {
  .main__content {
    min-width: 0;
    width: 100%;
    padding: 0 1.25em;
  }
}
