.main {
  width: 100%;
  min-width: 30em;
  max-width: 40em;

  min-height: calc(100vh - 9em);

  color: var(--txt-col-subtle);
}

@media screen and (max-width: 45rem) {
  .main {
    min-width: 0;

    padding: 0 1.25em;
  }
}

@media screen and (max-width: 30rem) {
  .main {
    padding: 0 1em;
  }
}
