.app {
  font-size: 1.05em;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  overflow-x: hidden;

  color: var(--txt-col);

  background-color: var(--bg-col);
}
