@keyframes divider-loading {
  0% {
    clip-path: inset(-50% 0% -50% 0%);
  }
  25% {
    clip-path: inset(-50% 100% -50% 0%);
  }
  50% {
    clip-path: inset(-50% 0% -50% 100%);
  }
  100% {
    clip-path: inset(-50% 0% -50% 0%);
  }
}

.nav {
  position: sticky;
  top: 0;

  margin: 0 auto;
  padding: 0.5em 0;
  padding-bottom: 2em;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-col);
  background: linear-gradient(var(--bg-col) 80%, var(--bg-col-transparent));

  z-index: 10;
}

.nav__divider {
  margin: 0;
  padding: 0;

  display: block;

  border-bottom: 1px solid var(--txt-col-subtle);
  animation-iteration-count: 1;
  animation-play-state: paused;
}

.nav__divider--loading {
  animation: divider-loading 1000ms infinite;
  animation-fill-mode: forwards;
}

.nav__title {
  text-align: center;

  margin: 0;
  padding: 0.3em 0;

  font-family: "Raleway";
  font-weight: 800;

  cursor: pointer;
}

.nav__links {
  margin: 0 auto;
  padding: 0.25em 0;
  display: flex;
  justify-content: space-between;

  width: 35.5ch;
}

.nav__links > * + * {
  margin-left: 0.75em;
}

@media screen and (max-width: 25rem) {
  .nav__title {
    font-size: 0.85em;
  }

  .nav__divider {
    max-width: 31ch;
  }

  .nav__links {
    width: 31ch;
  }
}
