@keyframes divider-reveal {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes title-reveal {
  from {
    transform: translateY(100%);
    clip-path: inset(0% -50% 100% -50%);
  }
  to {
    transform: translateY(0%);
    clip-path: inset(0 -50% 0% -50%);
  }
}

@keyframes links-reveal {
  from {
    transform: translateY(-100%);
    clip-path: inset(100% -50% 00% -50%);
  }
  to {
    transform: translateY(0%);
    clip-path: inset(0 -50% 0% -50%);
  }
}

.nav {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__divider {
  margin: 0;
  padding: 0;

  display: block;
  width: 100%;
  border-bottom: 1px solid var(--txt-col-subtle);

  transition: width 500ms;

  animation: divider-reveal 500ms both;
  animation-delay: 250ms;
}

.nav__title {
  width: 100%;

  text-align: center;

  margin: 0;
  padding: 0.1em;

  font-family: "Raleway";
  font-weight: 800;

  animation: title-reveal 1000ms both;
  animation-delay: 500ms;
}

.nav__links {
  margin: 0;
  padding: 0.25em 0;
  display: flex;

  animation: links-reveal 1000ms both;
  animation-delay: 1000ms;
}

.nav__links > * + * {
  margin-left: 0.75em;
}
