.nav {
  position: sticky;
  top: 0;

  margin: 0 auto;
  padding: 0.5em 0;
  padding-bottom: 2.5em;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;

  background: linear-gradient(black 4.75em, transparent);
}

.nav__divider {
  margin: 0;
  padding: 0;

  display: block;
  width: 100%;
  border-bottom: 1px solid var(--txt-col-subtle);
}

.nav__title {
  text-align: center;

  margin: 0;
  padding: 0.1em;

  font-family: "Raleway";
  font-weight: 800;

  cursor: pointer;
}

.nav__links {
  margin: 0;
  padding: 0.25em 0;
  display: flex;
}

.nav__links > * + * {
  margin-left: 0.75em;
}

@media screen and (max-width: 20rem) {
  .nav__title {
    font-size: 0.85em;
  }
}
