.player {
  padding: 1.25em 0.25em 1em 0.25em;
  position: sticky;

  bottom: 0;
  z-index: 10;
  background: linear-gradient(var(--bg-col-transparent), var(--bg-col) 1.25em);
}

.info {
  padding: 0.25em;
}

.info > * {
  margin: 0.25em 0;
}

.info__title {
  color: var(--txt-col);
}

.controls {
  display: flex;
  align-items: flex-end;
}

.buttons {
  display: flex;
}

.buttons__button {
  appearance: none;

  font-family: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5em;
  height: 1.5em;

  font-size: 1em;

  border-radius: 0.15rem;
  border: none;

  color: var(--txt-col-subtle);
  background: none;
}

.buttons__button:not(:disabled):hover {
  cursor: pointer;
  color: var(--txt-col);
}

.buttons__button:focus-visible {
  outline: 0;
  color: var(--txt-col);
}

.progress {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-left: 0.5em;
}

.progress__time {
  display: flex;
  justify-content: space-between;
}

.progress__time > * {
  font-size: 0.85em;
  margin: 0.5em 0;
}

.progress__bar {
  appearance: none;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0.4em;
}

.progress__bar {
  height: 0.6em;
  border-radius: 0.15em;
  overflow: hidden;
}

.progress__bar::-webkit-progress-bar {
  background: var(--overlay);
}

.progress__bar::-webkit-progress-value {
  background: var(--txt-col-subtler);
  border-radius: 0.15em;

  transition: width 100ms;
}
.progress__bar:hover::-webkit-progress-value {
  background: var(--txt-col);
}

.volume {
  position: relative;

  margin-left: 0.5em;
  margin-bottom: 0.4em;
  padding: 0.25em;

  display: flex;
  align-items: center;
}

.volume__bar {
  appearance: none;

  width: 1em;
  height: 0.6em;

  border-radius: 0.15em;

  background: var(--overlay);
  overflow: hidden;

  transition: width 300ms;
}

.volume:hover .volume__bar {
  width: 5em;
  cursor: pointer;
}

.volume__bar::-webkit-progress-bar {
  background: var(--overlay);
}

.volume__bar::-webkit-progress-value {
  background: var(--txt-col-subtler);
  border-radius: 0.15em;

  transition: width 100ms;
}
.volume__bar:hover::-webkit-progress-value {
  background: var(--txt-col);
}
