.project {
  appearance: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  min-height: 3em;

  color: var(--txt-col-subtle);
}

.project__title {
  font-size: 1em;
  margin: 0.25em 0;

  width: 100%;

  padding: 0.5em 0;

  color: var(--txt-col);
}

.project__title:hover {
  text-decoration: underline;
}

.project__links {
  width: max-content;
  display: flex;
}

.link {
  width: max-content;

  margin: 0;
  padding: 0.5em;
  color: var(--txt-col-subtle);
}

.link:hover {
  color: var(--txt-col);
}
