.project {
  appearance: none;

  display: flex;
  flex-direction: column;

  min-height: 3em;

  padding: 0.5em;

  color: var(--txt-col-subtle);
}

.project:focus-visible {
  outline: 0;
  background-color: var(--overlay);
  box-shadow: 0 0 0 2px var(--txt-col-subtler);
  border-radius: 0.1em;
}

.project__title {
  font-size: 1em;

  margin: 0 0 0.5em 0;

  width: 100%;

  color: var(--txt-col);
}

.project:hover .project__title {
  text-decoration: underline;
}

.project__technologies {
  margin: 0;
  color: var(--txt-col-subtle);
}

.project__links {
  width: max-content;
  display: flex;
}

.link {
  width: max-content;

  margin: 0;
  padding: 0.5em;
  color: var(--txt-col-subtle);
}

.link:hover {
  color: var(--txt-col);
}
