.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  place-content: center;

  background-color: var(--bg-col);

  visibility: hidden;

  opacity: 0;

  transition: opacity 300ms 0ms, visibility 0ms 300ms;
}

.loader--visible {
  visibility: visible;
  opacity: 1;

  transition: opacity 300ms 0ms, visibility 0ms 0ms;
}

.loader__text {
  text-align: left;
  width: 10ch;
}
