.post {
  appearance: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  padding: 0.5em;

  color: var(--txt-col-subtle);

  cursor: pointer;
}

.post:hover .post__title {
  text-decoration: underline;
}

.post:focus-visible {
  outline: 0;
  background-color: var(--overlay);
  border-radius: 0.15em;
}

.post__title {
  font-size: 1em;
  margin: 0 0 0.5em 0;

  color: var(--txt-col);
}

.post__summary {
  margin: 0;
  margin-left: 0ch;
}
