.logo {
  min-width: 12em;

  display: flex;
  justify-content: center;

  font-size: 1.2em;

  font-family: "Raleway";
  font-weight: 700;

  color: var(--txt-col);
}

.logo:hover .logo__left {
  width: 5.25em;
  transition-delay: 300ms;
}

.logo:hover .logo__right {
  width: 10em;
  transition-delay: 300ms;
}

.text__hidden {
  opacity: 0;
  transition: opacity 500ms;
  transition-delay: 0ms;
}

.logo:hover .text__hidden {
  opacity: 1;
  transition-delay: 300ms;
}

.logo__left {
  position: relative;
  display: flex;
  overflow: hidden;

  width: 1.25em;
  height: 1.75em;

  transition: width 500ms;
  transition-delay: 0ms;
}

.logo__right {
  position: relative;
  display: flex;
  overflow: hidden;

  width: 1.25em;
  height: 1.75em;

  transition: width 500ms;
  transition-delay: 0ms;
}

.logo__left > * {
  margin: 0;
  padding: 0;

  position: absolute;
  left: 0;
}

.logo__right > * {
  margin: 0;
  padding: 0;
  position: absolute;
}
