.section {
  position: sticky;
  top: 6.5em;

  margin: 2em 0;
  padding: 1em 0;

  z-index: 5;

  background-color: var(--bg-col);
}

.section--header {
  z-index: 6;
  padding-bottom: 3em;
  background: linear-gradient(var(--bg-col) 70%, transparent);
}

.section p {
  color: var(--txt-col-subtle);
  margin: 0.25em 0;
}

.section h1,
.section h2,
.section h3 {
  color: var(--txt-col);
  margin: 0.5em 0;
}

.section a {
  color: var(--txt-col-subtle);
}

.section a:hover {
  color: var(--txt-col);
}

.section ul > li {
  margin: 0.5em 0;
}
