.song__title {
  font-size: 1rem;
  font-family: inherit;

  appearance: none;

  padding: 0;

  border: none;
  background: none;

  color: var(--txt-col-subtle);
}

.song__title:focus-visible {
  outline: none;
  color: var(--txt-col);
  text-decoration: underline;
}

.song__title--playable:hover {
  color: var(--txt-col);
  cursor: pointer;
}

.song--current .song__title {
  color: var(--txt-col);
}
