.post {
  appearance: none;

  cursor: pointer;
}

.post:hover .post__title {
  text-decoration: underline;
}

.post__title {
  font-size: 1em;
  margin: 0.25em 0;

  color: white;
}

.post__summary {
  margin: 0;
  margin-left: 1ch;
  color: var(--txt-col-subtle);
}
