.post {
  appearance: none;

  display: flex;
  justify-content: space-between;
  gap: 1em;

  color: var(--txt-col-subtle);

  cursor: pointer;
}

.post:hover .post__title {
  text-decoration: underline;
}

.post__title {
  font-size: 1em;
  margin: 0.25em 0;

  color: white;
}

.post__summary {
  margin: 0;
  margin-left: 0ch;
}
