@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	height: 100%;
}

body {
	min-height: 100%;

	font-family: 'Kadwa', serif;
	background-color: #faf9f3;
	color: #5f481e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Kalam', sans-serif;
}
