@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;900&display=swap');

html,
body {
	--font-main: 'Urbanist', -apple-system, system-ui, 'Segoe UI', Roboto, Arial, sans-serif;

	--text000: #000000;
	--text100: #9a9a9a;
	--text200: #b4b4b4;
	--text300: #ffffff;

	--letter-spacing-normal: normal;
	--letter-spacing-100: 0.15em;
	--letter-spacing-200: 0.2em;
	--letter-spacing-300: 0.3em;

	font-family: var(--font-main);

	margin: 0;
	padding: 0;
	height: 100%;
	transition: background-color 400ms;
}

* {
	box-sizing: border-box;
}
