@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700;800&display=swap');

html,
body {
	--font-main: 'Comic Sans MS', 'Manrope', Arial, Helvetica, sans-serif;

	--text000: #000000;
	--text100: #9a9a9a;
	--text200: #b4b4b4;
	--text300: #ffffff;

	--letter-spacing-normal: normal;
	--letter-spacing-100: 0.15em;
	--letter-spacing-200: 0.2em;
	--letter-spacing-300: 0.3em;

	font-family: 'Manrope', Arial, Helvetica, sans-serif;

	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}
