.container {
  padding: 1rem 1.5rem;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
}

.title {
  font-family: "Raleway";
  font-weight: 700;
  color: var(--text-col);
}

.title:hover {
  text-decoration: underline;
}

.description {
  color: var(--text-col-subtle);
}
