#main {
  margin: 0 auto;
  margin-top: 8rem;
  max-width: var(--content-width);
  width: 90vw;
}

@media all and (max-width: 35rem) {
  #main {
    width: auto;
    margin: 0 1rem;
    margin-top: 8rem;
  }
}
