@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --text-col: rgb(255, 255, 255);
  --text-col-subtle: rgb(174, 185, 200);
  --text-col-subtler: rgb(91, 112, 139);

  --bg-col: rgb(43, 56, 74);

  color: white;
  background-color: var(--bg-col);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-title {
  font-size: 3.5em;
  margin: 2rem 0;

  font-family: "Raleway";
  font-weight: 100;

  color: var(--text-col);
}

.subtle-text {
  color: var(--text-col-subtle);
}
