@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Ubuntu+Mono:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu Mono", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  --txt-col: white;
  --txt-col-subtle: gray;

  --bg-col: black;
  background-color: var(--bg-col);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
