#nav {
  margin: 0;
  padding: 0;

  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: sticky;
  top: 0;
  background: linear-gradient(var(--bg-col), transparent);
}

#links {
  display: flex;
  align-items: center;

  margin: 0 1em;
  padding: 0;

  max-width: 20rem;

  list-style-type: none;
}

.link {
  height: 4.5rem;
  line-height: 4.5rem;
  margin: 0 1rem;
}

.link > a {
  height: 100%;
  display: block;
  border-bottom: 2px solid transparent;
}

.link:hover > a {
  border-color: var(--text-col-subtle);
}

.link.active > a {
  border-color: white;
}

.clicked > a {
  color: var(--text-col-subtler);
  border-color: var(--text-col-subtler) !important;
}
