#content {
  color: var(--text-col-subtler);
}

#projects {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 90vw;
  max-width: var(--max-width);

  padding: 0;
  margin: 5rem 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
}

@media screen and (max-width: 35rem) {
  #projects {
    width: 100vw;
    padding-bottom: 3rem;
    grid-template-columns: 1fr;
    gap: 0;
    overflow-x: hidden;
  }
}
